FIREBASE_CREDENTIALS_PATH=./firebase-service-account.json
FIREBASE_PROJECT_ID=veriota-hackathon
DILITHIUM_PRIVATE_KEY_PATH=./keys/dilithium3_private.key
DILITHIUM_PUBLIC_KEY_PATH=./keys/dilithium3_public.key
